---
const { currentUser } = Astro.props;
---

<div
  class="bg-amber-200 text-blue-950 rounded-full w-8 h-8 flex items-center justify-center"
>
  <span class="font-semibold">
    {currentUser.email.slice(0, 1).toUpperCase()}
  </span>
</div>

<!-- <AuthLinks client:load /> -->
