---
const { error, ...rest } = Astro.props;
---

<form
  {...rest}
  class="space-y-4 bg-base-200 rounded-md p-8 flex flex-col w-96 mx-auto"
>
  {
    error && (
      <p class="bg-error text-center p-2 rounded-md text-error-content">
        {error}
      </p>
    )
  }
  <slot />
</form>
