<!-- ---
import AccountLayout from "@layouts/AccountLayout.astro";
const currentUser = await Astro.session?.get("user");
import Label from "@components/astro/Label.astro";
import Input from "@components/astro/Input.astro";
import Button from "@components/astro/Button.astro";
---

<AccountLayout>
  <div class="space-y-4">
    <div class="flex flex-col gap-1">
      <Label for="email">Email</Label>
      <Input id="email" value={currentUser.email} />
    </div>
    <div class="flex flex-col gap-1">
      <Label for="name">Password</Label>
      <Input type="password" id="name" value={currentUser.password} />
    </div>
    <div class="flex flex-col gap-1">
      <Label for="confirm-password">Confirm Password</Label>
      <Input
        type="password"
        id="confirm-password"
        value={currentUser.password}
      />
    </div>
    <div class="text-start">
      <Button type="submit" variant="primary">Update</Button>
    </div>
  </div>
</AccountLayout> -->
