<!-- ---
import AccountLayout from "@layouts/AccountLayout.astro";
const currentUser = await Astro.session?.get("user");
---

<AccountLayout>
  <div>
    <h2 class="text-lg font-semibold">Account Information</h2>
    <p>Email: {currentUser.email}</p>
    <p>Name: {currentUser.name}</p>
    <p>Joined on: {new Date(currentUser.createdAt).toLocaleDateString()}</p>
  </div>
</AccountLayout> -->
